<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <li>close</li>
    <form >
        <div class="form-group">
            <label for="name">
                name
            </label>
            <input type="text" >
        </div>
        <div class="form-group">
            <label for="name">
                City
            </label>
            <input type="text" >
        </div>
        <div class="form-group">
            <label for="Country">
                Country
            </label>
            <input type="text" >
        </div>
        <div class="form-group">
            <label for="gender">
                gender
            </label>
            <input type="text" >
        </div>
        <input type="submit" value="edit customer">
    </form>
</body>
</html>